<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board.a03_dao.A01_BoardDao">
	
	<select id="totCnt" resultType="int" parameterType="boardsch">
		SELECT count(*)
		FROM board
		WHERE subject like '%'||#{subject}||'%'
		AND writer like '%'||#{writer}||'%'	
		START WITH refno = 0
		CONNECT BY PRIOR NO = refno	
	</select>
	
	<resultMap type="board" id="boardMap"/>
	<select id="boardList" resultMap="boardMap" parameterType="boardsch">
		SELECT *
		FROM(
			SELECT rownum cnt, level, a. *
			FROM board a
			WHERE subject like '%'||#{subject}||'%'
			AND writer like '%'||#{writer}||'%'
			START WITH refno = 0
			CONNECT BY PRIOR NO = refno
			ORDER siblings by no desc
		)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board
		VALUES(board_seq.nextval, #{refno},
			#{subject}, #{content}, #{writer}, 0, sysdate, sysdate)
	</insert>
	
	<insert id="uploadFile" parameterType="boardfile">
		INSERT INTO boardfile
		VALUES(board_seq.currval, #{fname},
		#{pathname}, #{content}, sysdate)
	</insert>
	
	<select id="getBoard" resultType="board" parameterType="int">
		SELECT * FROM board WHERE no=#{no}	
	</select>
	
	<resultMap type="boardfile" id="boardMap2"/>
	<select id="fileInfo" resultMap="boardMap2" parameterType="int">
		SELECT * FROM boardfile
		where no = #{no}
	</select>
	
	<update id="uptReadCnt" parameterType="int">
		UPDATE board
		   SET readcnt = readcnt+1
		WHERE no = #{no}
	</update>
	
	<update id="updateBoard" parameterType="board">
		UPDATE board
		   SET subject = #{subject},
				content = #{content},
				uptdte = sysdate
		WHERE no = #{no}
	</update>
	
    <update id="updateFile" parameterType="hashmap">
          update boardfile
            set fname = #{fname}
         where no = #{no}
              and fname = #{orgFname}
    </update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board 
		WHERE NO in (
			SELECT no
			FROM board a
			START WITH no = #{no}
			CONNECT BY PRIOR NO = refno
		)
		
	</delete>
	
	<delete id="deleteFile" parameterType="int">
		DELETE FROM boardfile
		WHERE no=#{no}
	</delete>
	
</mapper>